logs/*
!logs/.gitkeep

dataset/evaluate/*
!dataset/evaluate/.gitkeep

dataset/sourceData/*
!dataset/sourceData/.gitkeep

dataset/train/*
!dataset/train/.gitkeep

checkpoints/*
!checkpoints/.gitkeep

__pycache__/

.vscode/